<h2>My Words</h2>
<div>
  <form #wordForm="ngForm" (ngSubmit)="add($event, wordForm)">
    <div class="form-group">
      <label for="name">English Word</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="model.english" name="english" #english="ngModel" required />
      <div [hidden]="english.valid || english.pristine"
        class="alert alert-danger">
        English word is required
      </div>
    </div>
      <div class="form-group">
        <label for="name">Spanish Word</label>
        <input type="text" class="form-control" id="spanish" [(ngModel)]="model.spanish" name="spanish" #spanish="ngModel" />
      </div>
      <div class="form-group">
        <label for="name">Spanish Pronunciation</label>
        <input type="text" class="form-control" id="spanish-pronunciation" [(ngModel)]="model.spanishPronunciation" name="spanishPronunciation" #spanishPronunciation="ngModel" />
      </div>
      <div class="form-group">
        <label for="name">Phonetic</label>
        <input type="text" class="form-control" id="phonetic" [(ngModel)]="model.phonetic" name="phonetic" #phonetic="ngModel" />
      </div>
      <div class="form-group">
        <label for="name">Category</label>
        <select class="form-control" id="category" [(ngModel)]="model.category" name="category" #category="ngModel">
          <option *ngFor="let category of categories" [value]="category.documentId" [selected]="category.documentId == 'others'">{{category.data.name}}</option>
        </select>
      </div>
    <button type="submit" class="btn btn-success" [disabled]="!wordForm.form.valid">Submit</button>
    <button type="reset" class="btn btn-warning">Clear</button>
  </form>
</div>
<ul class="words">
  <li *ngFor="let word of words">
    <a routerLink="/detail/{{word.documentId}}">
      <span class="badge">{{word.data.id}}</span> {{word.data.english}}
    </a>
    <button class="delete" title="delete word"
    (click)="delete(word)">x</button>
  </li>
</ul>
