<h2>My Words</h2>
<div>
  <form #wordForm="ngForm" (ngSubmit)="add(wordForm); wordForm.reset()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" required />
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Name is required
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!wordForm.form.valid">Submit</button>
    <button type="reset" class="btn btn-warning">Clear</button>
  </form>
</div>
<ul class="words">
  <li *ngFor="let word of words">
    <a routerLink="/detail/{{word.documentId}}">
      <span class="badge">{{word.data.id}}</span> {{word.data.name}}
    </a>
    <button class="delete" title="delete word"
    (click)="delete(word)">x</button>
  </li>
</ul>
<!--
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
