<nav class="light-blue lighten-1">
  <div class="nav-wrapper">
    <!-- <a href="#!" class="brand-logo">Logo</a> -->
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/words">Words</a></li>
      <li class="right"><a (click)="logout()">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li routerLinkActive="active"><a routerLink="/" >Home</a></li>
      <li routerLinkActive="active"><a routerLink="/words">Words</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div *ngIf="!(authService.user | async)" class="container">
  <div class="row">
    <form class="col s12 m12 l12 xl12">
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <label for="login-email">Email</label>
          <input type="text" id="login-email" [(ngModel)]="email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12 xl12">
          <label for="login-password">Password</label>
          <input type="password" id="login-password" [(ngModel)]="password" name="password">
        </div>
      </div>
      <button class="waves-effect waves-light btn" (click)="login()" [disabled]="!email || !password">
        Login
      </button>
    </form>
  </div>
</div>

<router-outlet *ngIf="authService.user | async"></router-outlet>
