<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <h3>Top Words</h3>
      <div class="col s12 m12 l4 xl4 center-align card-panel waves-effect waves-light">
        <a *ngFor="let word of words" class="col s12 m12 l12 xl12"
        routerLink="/detail/{{word.documentId}}">
          <div class="module word">
            <h4>{{word.data.english}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <app-word-search></app-word-search> -->
